<footer>
    <div class="flex  two-col">
        <div class="container flex">
            <div class="left">
                <div class="menu flex">
                    <ul>
                        <li><a href="/accesibility">Accesibility</a></li>
                        <li><a href="/faq">FAQ’s</a></li>
                        <li><a href="/terms-and-conditions">Ts&Cs</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                    </ul>
                    <ul class="address">
                        <li>Rutland Glamping, Brook Farm, Wood Lane, Greetham, Rutland, LE15 7SN</li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h3>Sign up to our newsletter</h3>
                    <form>
                        <input type="email" placeholder="Email Address">
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="social-links">
                    <a href="#">Instagram</a>
                    <a href="#">Facebook</a>
                </div>
            </div>
            
            <div class="right">
                <div class="map-header">
                    <h3>We're in the Stix - 2 Hours from London</h3>
                    <iframe src="https://my.atlist.com/map/283721ef-e741-4ed3-927c-239cf277488f?share=true" allow="geolocation 'self' https://my.atlist.com" width="100%" height="400px" loading="lazy" frameborder="0" scrolling="no" allowfullscreen id="atlist-embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>
