<footer>
    <div class="flex  two-col">
        <div class="container flex">
            <div class="left">
                <div class="menu flex">
                    <ul>
                        <li>TESTIMONIALS</li>
                        <li>Accesibility</li>
                        <li> FAQ’s</li>
                        <li>Ts&Cs</li>
                        <li>Privacy Policy</li>
                    </ul>
                    <ul class="address">
                        <li>Rutland Glamping, Brook Farm, Wood Lane, Greetham, Rutland, LE15 7SN</li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h3>Sign up to our newsletter</h3>
                    <form>
                        <input type="email" placeholder="Email Address">
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="social-links">
                    <a href="#">Instagram</a>
                    <a href="#">Facebook</a>
                </div>
            </div>
            
            <div class="right">
                <div class="map-header">
                    <h3>We're in the Stix - 2 Hours from London</h3>
                    <iframe class="map" src="//maps.google.com/maps?q=52.71913418544513, -0.6104464603657659&z=15&output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>
