---
title: Blog
layout: default
---

<section id="explore">
    <div class="about">
        <h2>{{ page.title }}</h2>
    </div>
</section>
<section id="dome-features-links" class="features-grid-cards explore-area">
    <div class="container flex card-container">
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>Lorem</h3>
            <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            <a href="" class="btn">View post</a>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>Lorem</h3>
            <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            <a href="" class="btn">View post</a>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>Lorem</h3>
            <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            <a href="" class="btn">View post</a>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>Lorem</h3>
            <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            <a href="" class="btn">View post</a>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>Lorem</h3>
            <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            <a href="" class="btn">View post</a>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>Lorem</h3>
            <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            <a href="" class="btn">View post</a>
        </div>
    </div>
</section>