---
title: Blog
layout: default
---

<section id="explore" class="after-ripped">
    <div class="about">
        <h2>{{ page.title }}</h2>
    </div>
</section>
<section id="dome-features-links" class="features-grid-cards explore-area ripped ripped-cream">
    <div class="container flex card-container">
        {% for blog in site.blogs %}
        <div class="card">
            <img src="{{ blog.image }}" alt="{{ blog.title }}">
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.excerpt | truncatewords: 20 }}</p>
            <a href="{{ blog.url }}" class="btn">View post</a>
        </div>
        {% endfor %}
    </div>
</section>
