---
title: Events
layout: default
---

<section id="feasting">
    <div class="hero-image">
        <div class="centred-content">
            <h4>{{ page.title }}</h4>
            <p>Discover locally sourced organic produce and enjoy exquisite dining experiences curated just for you.</p>
        </div>
        <img src="/assets/images/events.jpg"> 
    </div>
</section>

<!-- 
<section id="dining-experiences">
    <h2>Dining Experiences</h2>
    {% for experience in site.data.feasting %}
    <article id="{{ experience.id }}" class="experience">
        <h3>{{ experience.title }}</h3>
        <div class="carousel">
            {% for image in experience.images %}
            <img src="{{ image }}" alt="{{ experience.title }}">
            {% endfor %}
        </div>
        <p>{{ experience.description }}</p>
    </article>
    {% endfor %}
</section> -->

<section id="feastings">
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
            <h4>PARTIES</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col white">
        <div class="container flex">
            <div class="left">
            <h4>WEDDINGS</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col ">
        <div class="container flex">
            <div class="left">
            <h4>RETREATS</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col white">
        <div class="container flex">
            <div class="left">
            <h4>BBQs</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
</section>

<section class="features-grid-cards one-pot">
    <div class="container">
        <h2>ONE POT MEALS</h2>
        <p>“Smoke ‘n Stix” is our new communal dining and event space located next to our large communal firepit. Boasting a field kitchen, large wood fired oven and bbq area. Guests enjoy being able to communally dine for any celebration they choose.</p>
    </div>
    <div class="container flex">
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
    </div>
</section>