---
title: Events
layout: default
---

<section id="feasting">
    <div class="hero-image">
        <div class="centred-content">
            <h4>{{ page.title }}</h4>
            <p>{{ page.content }}</p>
        </div>
        <img src="/assets/images/events.jpg"> 
    </div>
</section>

<section id="feastings">
    <section id="parties" class="plan facilities-wrapper flex two-col ripped ripped-cream">
        <div class="container flex">
            <div class="left">
            <h4>PARTIES</h4>
            <p>{{ page.["Parties Description"] }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Parties Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Parties"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
    <section id="weddings" class="plan facilities-wrapper flex two-col white ripped after-ripped">
        <div class="container flex">
            <div class="left">
            <h4>WEDDINGS</h4>
            <p>{{ page.["Wedding Description"] }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Weddings Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Weddings"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
    <section id="retreats" class="plan facilities-wrapper flex two-col ">
        <div class="container flex">
            <div class="left">
            <h4>RETREATS</h4>
            <p>{{ page.["Retreats Description"] }}</p>
            <a href="/book-now/" class="btn">Book Now</a>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Retreats Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Retreats"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
    <section id="bbqs" class="plan facilities-wrapper flex two-col white ripped after-ripped">
        <div class="container flex">
            <div class="left">
            <h4>BBQs</h4>
            <p>{{ page.["bbqs Description"] }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["bbqs Images"] %}
                    <div class="item"><img src="{{ image }}" alt="BBQs"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
</section>
