---
title: Explore
layout: default
---

<section id="explore">
    <div class="about">
        <div class="container">
        <h2>{{ page.title }}</h2>
        <p>Rutland is a beautiful and often overlooked county due to it’s size. It is the smallest county in England but with such a lot to offer it’s visitors. Known as Multum in Parvo (Much in Little) it certainly lives up to its name. </p>
    </div>
    </div>
    <div class="grounds-map">
        {% include map-area.html %}
    </div>
    <section id="dome-features-links" class="features-grid-cards explore-area ripped-cream after-ripped-cream ripped footer-home">
        <div class="container flex card-container">
            <div class="card">
                <img src="/assets/images/oakham.jpg" alt="Hero Image 3">
                <h3>Oakham</h3>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                <img src="/assets/images/stamford.jpg" alt="Hero Image 3">
                <h3>Stamford</h3>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                <img src="/assets/images/beltonhouse.jpg" alt="Hero Image 3">
                <h3>Belton House</h3>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                <img src="/assets/images/burghleyhouse.jpg" alt="Hero Image 3">
                <h3>Burghley House</h3>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                <img src="/assets/images/belvoircastle.jpg" alt="Hero Image 3">
                <h3>Belvoir Castle</h3>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                <img src="/assets/images/grimsthorpecastle.jpg" alt="Hero Image 3">
                <h3>Grimsthorpe Castle</h3>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
        </div>
    </section>
</section>

