---
title: Home
layout: default
---

<!-- Hero Section -->
<header class="hero">
    <div class="carousel">
        {% for image in page['Home Carousel Images'] %}
        <div class="carousel-slide active">
            <img src="{{ image }}" alt="Hero Image">
        </div>
        {% endfor %}
    </div>
    <div class="hero-text">
        <h1>{{ page['Home Hero Title'] }} <span class="homemade-apple">{{ page['Home Hero Sub Title'] }}</span></h1>
        <a href="{{ page['Home Hero Button Link'] }}" class="btn">{{ page['Home Hero Button Text'] }}</a>
    </div>
</header>

<!-- About Section -->
<section class="about ripped">
    <div class="container">
        <h2>{{ page['Home About Section'] }}</h2>
        <p>{{ page['Home About Section Text'] }}</p>
    </div>
    <div class="image-par ripped flipped">
        <img data-speed="0.5" class="img-parallax" src="{{ page['Home About Image'] }}" alt="Phones off around fire">
    </div>
</section>

<!-- Unique Interiors Section -->
<section class="about ripped">
    <div class="container">
        <h2>{{ page['Home About Section Two Title'] }}</h2>
        <p>{{ page['Home About Section Two Text'] }}</p>
    </div>
    <div class="image-par ripped flipped">
        <img data-speed="0.5" class="img-parallax" src="{{ page['Home About Image Two'] }}" alt="Unique Interiors">
    </div>
</section>

<!-- Reviews Section -->
<section class="reviews ripped">
    <div class="container">
        <div class="reviews-carousel">
            <div class="carousel-inner">
                {% for review in page['Home About Reviews'] %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% include stars.html %}
                    <p>{{ review['Review Text'] }}</p>
                    <h4>{{ review['Review Name'] }}</h4>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-controls">
                <button class="prev"><svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7.113h20.785V3.881H0v3.232Z" fill="#2B240A"/><path d="m11.468 8.534-7.96-4.596-1.62 2.806 7.96 4.595 1.62-2.805Z" fill="#2B240A"/><path d="m11.468 2.805-7.96 4.596-1.62-2.805L9.848 0l1.62 2.805Z" fill="#2B240A"/></svg></button>
                <button class="next"><svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.785 4.226H0V7.46h20.785V4.226Z" fill="#2B240A"/><path d="m9.316 2.805 7.96 4.596 1.62-2.805L10.936 0l-1.62 2.805Z" fill="#2B240A"/><path d="m9.316 8.534 7.96-4.596 1.62 2.805-7.96 4.596-1.62-2.805Z" fill="#2B240A"/></svg></button>
            </div>
            <div class="carousel-pager"></div>
        </div>
        <a href="/reviews" class="btn">View all</a>
    </div>
</section>

<!-- Featured In Section -->
<section class="featured-in">
    <div class="container">
        <h2>Featured in</h2>
        <div class="logos flex">
            {% for logo in page['Featured in logos'] %}
            <div class="logo">
                <img src="{{ logo }}" alt="Featured Logo">
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- New Section -->
<section class="about ripped">
    <div class="container">
        <h2>{{ page['Home About Section Three Title'] }}</h2>
        <p>{{ page['Home About Section Three Text'] }}</p>
    </div>
    <div class="image-par ripped flipped">
        <img data-speed="0.5" class="img-parallax" src="{{ page['Home About Section Three Image'] }}" alt="Home About Section Three">
    </div>
</section>

<!-- Awards Section -->
<section class="reviews ripped after-ripped footer-home">
    <h2>Awarded in</h2>
    <div class="container">
        <div class="awards-carousel">
            <div class="carousel-inner">
                {% for award in page['Awarded in Images'] %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ award }}" alt="Award Image">
                </div>
                {% endfor %}
            </div>
            <div class="carousel-controls">
                <button class="prev"><svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7.113h20.785V3.881H0v3.232Z" fill="#2B240A"/><path d="m11.468 8.534-7.96-4.596-1.62 2.806 7.96 4.595 1.62-2.805Z" fill="#2B240A"/><path d="m11.468 2.805-7.96 4.596-1.62-2.805L9.848 0l1.62 2.805Z" fill="#2B240A"/></svg></button>
                <button class="next"><svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.785 4.226H0V7.46h20.785V4.226Z" fill="#2B240A"/><path d="m9.316 2.805 7.96 4.596 1.62-2.805L10.936 0l-1.62 2.805Z" fill="#2B240A"/><path d="m9.316 8.534 7.96-4.596 1.62 2.805-7.96 4.596-1.62-2.805Z" fill="#2B240A"/></svg></button>
            </div>
            <div class="carousel-pager"></div>
        </div>
    </div>
</section>
