---
title: Reviews
layout: default
---

<section id="reviews">
    <div class="about">
        <div class="container">
        <h2>{{ page.title }}</h2>
        <p>What people say about us</p>
    </div>
    </div>
    <section id="dome-features-links" class="features-grid-cards explore-area ripped ripped-cream">
        <div class="container flex card-container">
            <div class="card">
                {% include stars.html %}
                <h4>Lorem</h4>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                {% include stars.html %}
                <h4>Lorem</h4>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                {% include stars.html %}
                <h4>Lorem</h4>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                {% include stars.html %}
                <h4>Lorem</h4>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                {% include stars.html %}
                <h4>Lorem</h4>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
            <div class="card">
                {% include stars.html %}
                <h4>Lorem</h4>
                <p>Rutland and the surrounding area are rich with a wonderful variety of organically grown and ethically sourced food, supporting many local farmers, amazing pubs, restaurants, shops and wonderful bakeries.</p>
            </div>
        </div>
    </section>
</section>

