---
title: The Grounds
layout: default
---

<!-- The Grounds Section -->
<section id="the-grounds">
    <h2 class="heading-short">The Grounds</h2>
    <div class="grounds-map">
        <div class="map-elements element-one">
            <div class="tooltip">
                <img src="{{page.['Map Dome 2 Images']}}">
                <h3>{{ page.["Dome 2 Title"] }}</h3>
                <p>{{ page.["Dome 2 Mini Description"] }}</p>
            </div>
            <a class="btn" href="#dome-2">Jump to</a>
            
        </div>
        <div class="map-elements element-two">
            <div class="tooltip">
                <img src="{{page.['Map Dome 4 Images']}}">
                <h3>{{ page.["Dome 4 Title"] }}</h3>
                <p>{{ page.["Dome 4 Mini Description"] }}</p>
            </div>
            <a class="btn" href="#dome-4">Jump to</a>
            
        </div>
        <div class="map-elements element-three">
            <div class="tooltip">
                <img src="{{page.['Map Log Storage Images']}}">
                <h3>Log Storage</h3>
                <p>{{ page.["Log Storage Mini Description"] }}</p>
            </div>
            <a class="btn" href="#log-storage">Jump to</a>
            
        </div>
        <div class="map-elements element-three-one">
            <div class="tooltip">
                <img src="{{page.['Map Shepherds Hut Images']}}">
                <h3>Shepherd’s Hut</h3>
                <p>{{ page.["Shepherd’s Hut Mini Description"] }}</p>
            </div>
            <a class="btn" href="#shepherd-hut">Jump to</a>
            
        </div>
        <div class="map-elements element-four">
            <div class="tooltip">
                <img src="{{page.['Map Field Kitchen Images']}}">
                <h3>Smoke ‘n Stix</h3>
                <p>{{ page.["Field Kitchen Mini Description"] }}</p>
            </div>
            <a class="btn" href="#field-kitchen">Jump to</a>
            
        </div>
        <div class="map-elements element-four-one">
            <div class="tooltip">
                <img src="{{page.['Map Fire Pit Images']}}">
                <h3>Fire pit</h3>
                <p>{{ page.["Fire pit Mini Description"] }}</p>
            </div>
            <a class="btn" href="#fire-pit">Jump to</a>
            
        </div>
        <div class="map-elements element-four-two">
            <div class="tooltip">
                <img src="{{page.['Map Meadow Images']}}">
                <h3>Meadow</h3>
                <p>{{ page.["Meadow Mini Description"] }}</p>
            </div>
            <a class="btn" href="#meadow">Jump to</a>
            
        </div>
        <div class="map-elements element-five">
            <div class="tooltip">
                <img src="{{page.['Map Play Area Images']}}">
                <h3>Playground</h3>
                <p>{{ page.["Play Area Mini Description"] }}</p>
            </div>
            <a class="btn" href="#play-area">Jump to</a>
            
        </div>
        <div class="map-elements element-six">
            <div class="tooltip">
                <img src="{{page.['Map Dome 1 Images']}}">
                <h3>{{ page.["Dome 1 Title"] }}</h3>
                <p>{{ page.["Dome 1 Mini Description"] }}</p>
            </div>
            <a class="btn" href="#dome-1">Jump to</a>
            
        </div>
        <div class="map-elements element-seven">
            <div class="tooltip">
                <img src="{{page.['Map Dome 3 Images']}}">
                <h3>{{ page.["Dome 3 Title"] }}</h3>
                <p>{{ page.["Dome 3 Mini Description"] }}</p>
            </div>
            <a class="btn" href="#dome-3">Jump to</a>
            
        </div>
        <div class="map-elements element-eight">
            <div class="tooltip">
                <img src="{{page.['Map Dome 5 Images']}}">
                <h3>{{ page.["Dome 5 Title"] }}</h3>
                <p>{{ page.["Dome 5 Mini Description"] }}</p>
            </div>
            <a class="btn" href="#dome-5">Jump to</a>
            
        </div>
        <div class="map-elements element-nine">
            <div class="tooltip">
                <img src="{{page.['Map Dome 6 Images']}}">
                <h3>{{ page.["Dome 6 Title"] }}</h3>
                <p>{{ page.["Dome 6 Mini Description"] }}</p>
            </div>
            <a class="btn" href="#dome-6">Jump to</a>
            
        </div>
        <div class="map-elements element-ten">
            <div class="tooltip">
                <img src="{{page.['Map Sauna Images']}}">
                <h3>Sauna</h3>
                <p>{{ page.["Sauna Mini Description"] }}</p>
            </div>
            <a class="btn" href="#sauna">Jump to</a>
            
        </div>
        <div class="map-elements element-ten-one">
            <div class="tooltip">
                <img src="{{page.['Map Brook Images']}}">
                <h3>Brook</h3>
                <p>{{ page.["Brook Mini Description"] }}</p>
            </div>
            <a class="btn" href="#brook">Jump to</a>
            
        </div>
        <div class="map-elements element-eleven">
            <div class="tooltip">
                <img src="{{page.['Map Deck Images']}}">
                <h3>Deck</h3>
                <p>{{ page.["Deck Mini Description"] }}</p>
            </div>
            <a class="btn" href="#deck">Jump to</a>
            
        </div>
        <div class="map-elements element-eleven-one">
            <div class="tooltip">
                <img src="{{page.['Map Parking Images']}}">
                <h3>Parking</h3>
                <p>{{ page.["Parking Mini Description"] }}</p>
            </div>
            <a class="btn" href="#parking">Jump to</a>
            
        </div>
        <!-- fire pit right of kitchen -->
        <!-- meadow past the hedge -->
        <!-- brook bridge -->

        {% include map.html %}
    </div>
</section>

<!-- Dome Features Section -->
<section id="dome-features">
    <div class="container flex">
        <div class="feature-grid">
            <!-- Placeholder for feature cards -->
            <a href="#dome-features-links"><div class="feature">Dome Features</div></a>
            <a href="#dome-1"><div class="feature">Dome 1</div></a>
            <a href="#dome-2"><div class="feature">Dome 2</div></a>
            <a href="#dome-3"><div class="feature">Dome 3</div></a>
            <a href="#dome-4"><div class="feature">Dome 4</div></a>
            <a href="#dome-5"><div class="feature">Dome 5</div></a>
            <a href="#dome-6"><div class="feature">Dome 6</div></a>
            <a href="#field-kitchen"><div class="feature">Smoke ‘n Stix</div></a>
            <a href="#fire-pit"><div class="feature">Fire pit</div></a>
            <a href="#play-area"><div class="feature">Play Area</div></a>
            <a href="#sauna"><div class="feature">Sauna</div></a>
            <a href="#deck"><div class="feature">Deck</div></a>
            <a href="#brook"><div class="feature">Brook</div></a>
            <a href="#meadow"><div class="feature">Meadow</div></a>
            <a href="#parking"><div class="feature">Parking</div></a>
            <a href="#log-storage"><div class="feature">Log Storage</div></a>
            <a href="#shepherd-hut"><div class="feature">Shepherd's Hut</div></a>
            <a href="#extra"><div class="feature">{{ page.["Extra Title"] }}</div></a>
        </div>
    </div>
</div>
</section>

<!-- Dome Features Section -->
<section id="dome-features-links" class="features-grid-cards">
    <div class="container">
        <h2>DOME FEATURES</h2>
        <p>{{ page.SectionDescription | markdownify }}</p>
    </div>
    <div class="container flex card-container">
        {% for feature in page.["Dome Features"] %}
        <div class="card">
            <img src="{{ feature.Image }}" alt="Feature Image">
            <h3>{{ feature.Title }}</h3>
            <p>{{ feature.Description | markdownify }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Individual Domes Section -->
<section id="domes">
    <h2>The Domes</h2>
    <div class="domes">
        <article class="dome ripped ripped-cream" id="dome-1">
            <div class="container">
                <h4>{{ page.["Dome 1 Title"] }}</h4>
                <p>{{ page.["Dome 1 Description"] }}</p>
                <a href="/book-now/" class="btn">book now</a>
            </div>
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Dome 1 Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Dome 1 Image"></div>
                    {% endfor %}
                </div>
            </div>
        </article>
        <article class="dome ripped" id="dome-2">
            <div class="container">
                <h4>{{ page.["Dome 2 Title"] }}</h4>
                <p>{{ page.["Dome 2 Description"] }}</p>
                <a href="/book-now/" class="btn">book now</a>
            </div>
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Dome 2 Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Dome 2 Image"></div>
                    {% endfor %}
                </div>
            </div>
        </article>
        <article class="dome ripped ripped-cream" id="dome-3">
            <div class="container">
                <h4>{{ page.["Dome 3 Title"] }}</h4>
                <p>{{ page.["Dome 3 Description"] }}</p>
                <a href="/book-now/" class="btn">book now</a>
            </div>
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Dome 3 Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Dome 3 Image"></div>
                    {% endfor %}
                </div>
            </div>
        </article>
        <article class="dome ripped" id="dome-4">
            <div class="container">
                <h4>{{ page.["Dome 4 Title"] }}</h4>
                <p>{{ page.["Dome 4 Description"] }}</p>
                <a href="/book-now/" class="btn">book now</a>
            </div>
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Dome 4 Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Dome 4 Image"></div>
                    {% endfor %}
                </div>
            </div>
        </article>
        <article class="dome ripped ripped-cream" id="dome-5">
            <div class="container">
                <h4>{{ page.["Dome 5 Title"] }}</h4>
                <p>{{ page.["Dome 5 Description"] }}</p>
                <a href="/book-now/" class="btn">book now</a>
            </div>
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Dome 5 Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Dome 5 Image"></div>
                    {% endfor %}
                </div>
            </div>
        </article>
        <article class="dome ripped" id="dome-6">
            <div class="container">
                <h4>{{ page.["Dome 6 Title"] }}</h4>
                <p>{{ page.["Dome 6 Description"] }}</p>
                <a href="/book-now/" class="btn">book now</a>
            </div>
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Dome 6 Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Dome 6 Image"></div>
                    {% endfor %}
                </div>
            </div>
        </article>
    </div>
</section>


<!-- Facilities Section -->
<section id="facilities">
    <h2>FACILITIES AT IN THE STIX</h2>
    <section id="field-kitchen" class="plan ripped-cream facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Field Kitchen Title"] }}</h4>
                <p>{{ page.["Field Kitchen Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Field Kitchen Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Field Kitchen Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="fire-pit" class="plan white ripped facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Fire Pit Title"] }}</h4>
                <p>{{ page.["Fire Pit Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Fire Pit Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Fire Pit Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="play-area" class="plan ripped-cream facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Play Area Title"] }}</h4>
                <p>{{ page.["Play Area Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Play Area Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Play Area Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="sauna" class="plan white ripped facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Sauna Title"] }}</h4>
                <p>{{ page.["Sauna Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Sauna Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Sauna Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="deck" class="plan ripped-cream facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Deck Title"] }}</h4>
                <p>{{ page.["Deck Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Deck Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Deck Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="brook" class="plan white ripped facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Brook Title"] }}</h4>
                <p>{{ page.["Brook Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Brook Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Brook Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="meadow" class="plan ripped-cream facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Meadow Title"] }}</h4>
                <p>{{ page.["Meadow Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Meadow Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Meadow Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="parking" class="plan white ripped facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Parking Title"] }}</h4>
                <p>{{ page.["Parking Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Parking Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Parking Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="extra" class="plan ripped-cream facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Extra Title"] }}</h4>
                <p>{{ page.["Extra Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Extra Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Parking Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="log-storage" class="plan white ripped facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Log Storage Title"] }}</h4>
                <p>{{ page.["Log Storage Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Log Storage Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Parking Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="shepherd-hut" class="plan ripped-cream facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
                <h4>{{ page.["Shepherd's Hut Title"] }}</h4>
                <p>{{ page.["Shepherd's Hut Text"] | markdownify }}</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Shepherd's Hut Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Parking Image"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>