---
title: The Grounds
layout: default
---

<!-- The Grounds Section -->
<section id="the-grounds">
    <h2 class="heading-short">The Grounds</h2>
    <div class="grounds-map">
        <div class="map-elements element-one">
            <div class="tooltip">
                <img src="/assets/images/dome1.jpg">
                <h3>Dome 2 - <span>Greetham</span></h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-1">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-two">
            <div class="tooltip">
                <img src="/assets/images/dome2.jpg">
                <h3>Dome 4 - <span>Barrow</span></h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-2">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-three">
            <div class="tooltip">
                <img src="/assets/images/sauna.jpg">
                <h3>Shepards Hut</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-1">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-three-one">
            <div class="tooltip">
                <img src="/assets/images/sauna.jpg">
                <h3>Log Storage</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-1">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-four">
            <div class="tooltip">
                <img src="/assets/images/kitchen.jpg">
                <h3>Field Kitchen</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-1">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-four-one">
            <div class="tooltip">
                <img src="/assets/images/kitchen.jpg">
                <h3>Fire pit</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-1">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-four-two">
            <div class="tooltip">
                <img src="/assets/images/kitchen.jpg">
                <h3>Meadow</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-1">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-five">
            <div class="tooltip">
                <img src="/assets/images/playground.jpg">
                <h3>Playground</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#play-area">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-six">
            <div class="tooltip">
                <img src="/assets/images/dome3.jpg">
                <h3>Dome 1 - <span>Barrow</span></h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-3">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-seven">
            <div class="tooltip">
                <img src="/assets/images/dome4.jpg">
                <h3>Dome 3 - <span>Barrow</span></h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-4">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-eight">
            <div class="tooltip">
                <img src="/assets/images/dome5.jpg">
                <h3>Dome 5 - <span>Barrow</span></h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-5">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-nine">
            <div class="tooltip">
                <img src="/assets/images/dome6.jpg">
                <h3>Dome 6 - <span>Barrow</span></h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#dome-6">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-ten">
            <div class="tooltip">
                <img src="/assets/images/sauna.jpg">
                <h3>Sauna</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#sauna">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-ten-one">
            <div class="tooltip">
                <img src="/assets/images/sauna.jpg">
                <h3>Brook</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#sauna">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <div class="map-elements element-eleven">
            <div class="tooltip">
                <img src="/assets/images/sauna.jpg">
                <h3>Deck</h3>
                <p>This is a short description</p>
            </div>
            <a class="btn" href="#deck">Jump to dome</a>
            <div class="dot"></div>
        </div>
        <!-- fire pit right of kitchen -->
        <!-- meadow past the hedge -->
        <!-- brook bridge -->

        {% include map.html %}
    </div>
</section>

<!-- Dome Features Section -->
<section id="dome-features">
        <div class="container flex">
            <div class="feature-grid">
                <!-- Placeholder for feature cards -->
                <a href="#dome-features-links"><div class="feature">Dome Features</div></a>
                <a href="#dome-1"><div class="feature">Dome 1</div></a>
                <a href="#dome-2"><div class="feature">Dome 2</div></a>
                <a href="#dome-3"><div class="feature">Dome 3</div></a>
                <a href="#dome-4"><div class="feature">Dome 4</div></a>
                <a href="#dome-5"><div class="feature">Dome 5</div></a>
                <a href="#dome-6"><div class="feature">Dome 6</div></a>
                <a href="#sauna"><div class="feature">Sauna</div></a>
                <a href="#field-kitchen"><div class="feature">Field Kitchen</div></a>
                <a href="#fire-pit"><div class="feature">Fire pit</div></a>
                <a href="#play-area"><div class="feature">Play Area</div></a>
            </div>
        </div>
    </div>
</section>

<section id="dome-features-links" class="features-grid-cards">
    <div class="container">
        <h2>DOME FEATURES</h2>
        <p>“Smoke ‘n Stix” is our new communal dining and event space located next to our large communal firepit. Boasting a field kitchen, large wood fired oven and bbq area. Guests enjoy being able to communally dine for any celebration they choose.</p>
    </div>
    <div class="container flex card-container">
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
        <div class="card">
            <img src="/assets/images/placeholder.jpg" alt="Hero Image 3">
            <h3>lorem</h3>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite.</p>
        </div>
    </div>
</section>

<!-- Individual Domes Section -->
<section id="domes">
    <h2>The Domes</h2>
    <div class="domes">
        <article class="dome" id="dome-1">
        <div class="container">
        <h4>Dome 1 - <span>Greetham</span></h4>
        <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite. A Beautiful dome decorated in blues and greys. This dome has the uninterrupted view over the brook and the golf course beyond. Set the furthest down the field and boasting the most private hot tub. This dome kitchen faces west for the evening sunset.</p>    
        <a href="https://supercontrol-proxy-eprl6owae-blongden73s-projects.vercel.app/api/availability" class="btn">book now</a>
        </div>
        <div class="container">
        <div id="owl-demo" class="owl-carousel owl-theme">
 
            <div class="item"><img src="/assets/images/dome1/1.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/assets/images/dome1/2.jpg" alt="GTA V"></div>
            <div class="item"><img src="/assets/images/dome1/3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/assets/images/dome1/4.jpg" alt="Mirror Edge"></div>
           
        </div>    
         </div>
        </article>
        <article class="dome" id="dome-2">
            <div class="container">
            <h4>Dome 2 - <span>Barrow</span></h4>
            <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite. A Beautiful dome decorated in blues and greys. This dome has the uninterrupted view over the brook and the golf course beyond. Set the furthest down the field and boasting the most private hot tub. This dome kitchen faces west for the evening sunset.</p>    
            <a href="https://supercontrol-proxy-eprl6owae-blongden73s-projects.vercel.app/api/availability" class="btn">book now</a>
        </div>
            <div class="container">
            <div id="owl-demo" class="owl-carousel owl-theme">
     
                <div class="item"><img src="/assets/images/dome2/1.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/assets/images/dome2/2.jpg" alt="GTA V"></div>
            <div class="item"><img src="/assets/images/dome2/3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/assets/images/dome2/4.jpg" alt="Mirror Edge"></div>
               
            </div>    
             </div>
            </article>
            <article class="dome" id="dome-3">
                <div class="container">
                <h4>Dome 3 - <span>Hambleton</span></h4>
                <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite. A Beautiful dome decorated in blues and greys. This dome has the uninterrupted view over the brook and the golf course beyond. Set the furthest down the field and boasting the most private hot tub. This dome kitchen faces west for the evening sunset.</p>    
                <a href="https://supercontrol-proxy-eprl6owae-blongden73s-projects.vercel.app/api/availability" class="btn">book now</a>
            </div>
                <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
         
                    <div class="item"><img src="/assets/images/dome3/1.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/assets/images/dome3/2.jpg" alt="GTA V"></div>
            <div class="item"><img src="/assets/images/dome3/3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/assets/images/dome3/4.jpg" alt="Mirror Edge"></div>
                   
            </div>    
                </div>
            </article>
            <article class="dome" id="dome-4">
                <div class="container">
                <h4>Dome 4 - <span>Exton</span></h4>
                <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite. A Beautiful dome decorated in blues and greys. This dome has the uninterrupted view over the brook and the golf course beyond. Set the furthest down the field and boasting the most private hot tub. This dome kitchen faces west for the evening sunset.</p>    
                <a href="https://supercontrol-proxy-eprl6owae-blongden73s-projects.vercel.app/api/availability" class="btn">book now</a>
            </div>
                <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/dome4/1.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/assets/images/dome4/2.jpg" alt="GTA V"></div>
            <div class="item"><img src="/assets/images/dome4/3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/assets/images/dome4/4.jpg" alt="Mirror Edge"></div>
                    
            </div>    
                </div>
            </article>
            <article class="dome" id="dome-5">
                <div class="container">
                <h4>Dome 5 - <span>Clipsham</span></h4>
                <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite. A Beautiful dome decorated in blues and greys. This dome has the uninterrupted view over the brook and the golf course beyond. Set the furthest down the field and boasting the most private hot tub. This dome kitchen faces west for the evening sunset.</p>    
                <a href="https://supercontrol-proxy-eprl6owae-blongden73s-projects.vercel.app/api/availability" class="btn">book now</a>
            </div>
                <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/dome5/1.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/assets/images/dome5/2.jpg" alt="GTA V"></div>
            <div class="item"><img src="/assets/images/dome5/3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/assets/images/dome5/4.jpg" alt="Mirror Edge"></div>
                    
            </div>    
                </div>
            </article>
                <article class="dome" id="dome-6">
                    <div class="container">
                    <h4>Dome 6 - <span>Normanton</span></h4>
                    <p>Greetham, is named after our local village, situated a short walk along the brook from the campsite. A Beautiful dome decorated in blues and greys. This dome has the uninterrupted view over the brook and the golf course beyond. Set the furthest down the field and boasting the most private hot tub. This dome kitchen faces west for the evening sunset.</p>    
                    <a href="https://supercontrol-proxy-eprl6owae-blongden73s-projects.vercel.app/api/availability" class="btn">book now</a>
                </div>
                    <div class="container">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                
                        <div class="item"><img src="/assets/images/dome6/1.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/assets/images/dome6/2.jpg" alt="GTA V"></div>
            <div class="item"><img src="/assets/images/dome6/3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/assets/images/dome6/4.jpg" alt="Mirror Edge"></div>
                        
                </div>    
                    </div>
                </article>

        <!-- Add more domes as needed -->
    </div>
</section>

<!-- Facilities Section -->
<section id="facilities">
    <h2>FACILITIES AT IN THE STIX</h2>
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col ripped">
        <div class="container flex">
            <div class="left">
            <h4>Field Kitchen</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="fire-pit" class="plan facilities-wrapper flex two-col white ripped after-ripped">
        <div class="container flex">
            <div class="left">
            <h4>FIRE PIT</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="play-area" class="plan facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
            <h4>Play Area</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="sauna" class="plan facilities-wrapper flex two-col white ripped after-ripped">
        <div class="container flex">
            <div class="left">
            <h4>Sauna</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/image.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/images/image-1.jpg" alt="GTA V"></div>
                    <div class="item"><img src="/assets/images/image-2.jpg" alt="Mirror Edge"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <!-- Add more facilities as needed -->
</section>
