---
title: Wellness
layout: default
---

<section id="feasting">
    <div class="hero-image">
        <div class="centred-content">
            <h4>{{ page.title }}</h4>
            <p>Whether you are looking to have a festival style wedding, a luxurious bohemian party, a relaxed picnic – whatever your style and taste, our site is a blank canvas for your perfect celebration.</p>
        </div>
        <img src="/assets/images/wellness.jpg"> 
    </div>
</section>

<!-- 
<section id="dining-experiences">
    <h2>Dining Experiences</h2>
    {% for experience in site.data.feasting %}
    <article id="{{ experience.id }}" class="experience">
        <h3>{{ experience.title }}</h3>
        <div class="carousel">
            {% for image in experience.images %}
            <img src="{{ image }}" alt="{{ experience.title }}">
            {% endfor %}
        </div>
        <p>{{ experience.description }}</p>
    </article>
    {% endfor %}
</section> -->

<section id="feastings" class="ripped ripped-cream after-ripped-cream">
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
            <h4>SPA DAYS</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            <a href="/book-now/" class="btn">Book Now</a>
        </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/sauna-2.jpg" alt="Spa Days"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col white">
        <div class="container flex">
            <div class="left">
            <h4>RETREATS</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            <a href="/book-now/" class="btn">Book Now</a>
        </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/massage.jpg" alt="Massage"></div>
                    
            </div>  
            </div>
        </div>
    </section>
    <section id="field-kitchen" class="plan facilities-wrapper flex two-col ">
        <div class="container flex">
            <div class="left">
            <h4>YOGA</h4>
            <p>New for 2021, Normanton is the first dome you approach from the carpark. High on the hillside it has a view straight down the valley. Perfect for the evening sunsets. Styled with our eclectic choice of furnishings, the dome has a rocking chair and a beautiful antique slipper chair, plus all our standard pieces!</p>
            <a href="/book-now/" class="btn">Book Now</a>
        </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
            
                    <div class="item"><img src="/assets/images/yoga.jpg" alt="Yoga"></div>
                    
            </div>  
            </div>
        </div>
    </section>
</section>