---
title: Wellness
layout: default
---

<section id="feasting">
    <div class="hero-image">
        <div class="centred-content">
            <h4>{{ page.title }}</h4>
            <p>Whether you are looking to have a festival style wedding, a luxurious bohemian party, a relaxed picnic – whatever your style and taste, our site is a blank canvas for your perfect celebration.</p>
        </div>
        <img src="/assets/images/wellness.jpg"> 
    </div>
</section>

<section id="feastings" class="ripped ripped-cream after-ripped-cream">
    <section id="spa-days" class="plan facilities-wrapper flex two-col">
        <div class="container flex">
            <div class="left">
            <h4>SPA DAYS</h4>
            <p>{{ page.["Spa Days Description"] }}</p>
            <a href="/book-now/#spa" class="btn">Book Now</a>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Spa Days Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Spa Days"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
    <section id="retreats" class="plan facilities-wrapper flex two-col white ripped">
        <div class="container flex">
            <div class="left">
            <h4>RETREATS</h4>
            <p>{{ page.["Retreats Description"] }}</p>
            <a href="/book-now/#spa" class="btn">Book Now</a>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["Retreats Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Retreats"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
    <section id="yoga" class="plan facilities-wrapper flex two-col ripped-cream">
        <div class="container flex">
            <div class="left">
            <h4>YOGA</h4>
            <p>{{ page.["YOGA Description"] }}</p>
            <a href="/book-now/#spa" class="btn">Book Now</a>
            </div>
            <div class="right">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for image in page.["YOGA Images"] %}
                    <div class="item"><img src="{{ image }}" alt="Yoga"></div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
</section>
